{ margin: 0; padding: 0;}

@font-face {
  font-family: 'Source_Code_Pro';
  src: url("../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: 'Source_Code_Pro';
  background-size:auto;
  background-repeat: no-repeat;
}

.alert{
  display:none;
}

.uploadButtonDisabled{
  content: url('../images/buttons/upload-disabled.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.connectButton
{
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  font-size: 11pt;
}

.connectButton:hover
{
  color: white;
}

.disconnectButton
{
  background-color: #ff661a;
  color: white;
  font-weight: bold;
  font-size: 11pt;
}

.disconnectButton:hover
{
  color: white;
}

.gotoEditorButton
{
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  font-size: 11pt;
}

.gotoEditorButton:hover
{
  color: white;
}

.uploadButton{
  content: url('../images/buttons/upload.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.uploadButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.compileButtonDisabled{
  content: url('../images/buttons/compile-disabled.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.compileButton{
  content: url('../images/buttons/compile.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.compileButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.runButtonDisabled{
  content: url('../images/buttons/runcode-disabled.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.runButton{
  content: url('../images/buttons/runcode.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.runButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.repeatButton{
  content: url('../images/buttons/repeatcode.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.runButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.saveButton{
  content: url('../images/buttons/save.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.saveButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.settingsButton{
  content: url('../images/buttons/settings.png');
  visibility: visible;
  width: 12vh;
  height: 12vh;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.settingsButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.codeButtonBlock{
  content: url('../images/buttons/block.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.codeButtonBlock:hover{
  cursor: pointer;
  opacity: 0.75;
}

.codeButtonJS{
  content: url('../images/buttons/js.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.codeButtonJS:hover{
  cursor: pointer;
  opacity: 0.75;
}


.buttonNotConnect{
  content: url('../images/buttons/ncn.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.buttonNotConnect:hover{
  cursor: pointer;
  opacity: 0.75;
}

.bluetoothButtonNotConnect{
  content: url('../images/buttons/bt-ncn.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.bluetoothButtonNotConnect:hover{
  cursor: pointer;
  opacity: 0.75;
}

.bluetoothButtonConnect{
  content: url('../images/buttons/bt-cn.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.bluetoothButtonConnect:hover{
  cursor: pointer;
  opacity: 0.75;
}

.serialNotConnect{
  content: url('../images/buttons/serial-ncn.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.serialConnect{
  content: url('../images/buttons/serial-cn.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.pinooButton{
  content: url('../images/buttons/sensor.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.pinooButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.codeDiv
{
  color: black;
  background-color: white;
  font-size: medium;
  border: 0px solid;
  border-color: #aaaa;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; 
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    width: 100%;
}

.newProject
{
  padding: 20px; 
  font-size: x-large; 
  text-align: center; 
  background-color: #7346d0; 
  height: 30vh;
  border-radius: 5px;
  cursor: pointer;
}

.newProject:hover
{
  opacity: 0.8;
}

.device
{
  padding: 10px; 
  font-size: x-large; 
  text-align: center; 
  background-color: #fff; 
  height: 15vh;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 2px;
}

.device:hover
{
  border-color: #ff4d4d;
}

.deviceName
{
  font-weight: bold;
  color: #575e75;
}

.deviceNameSelected
{
  font-weight: bold;
  color: red;
}

.openProject
{
  padding: 20px; 
  font-size: x-large; 
  text-align: center; 
  background-color: #f4763c; 
  height: 30vh;
  border-radius: 5px;
  cursor: pointer;
}

.openProject:hover
{
  opacity: 0.8; 
}

.indexButtonImage
{
  height: 10vh;
  padding: 0px;
}

.menuButton
{
    margin-right: 10px; 
    padding: 0px;
    width: 2.5rem;; 
    height: 2.5rem;
}

.menuButton:hover
{
   background-color: hsla(0, 0%, 0%, 0.15); 
}

.textButton
{
    margin: 0px; 
    padding:0px;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;
    height: 2.5rem;
}

.textButton:hover
{
  background-color: hsla(0, 0%, 0%, 0.15); 
  color: white;
}

.connectDevicePanel
{
  margin: 5px;
  padding: 10px; 
  background-color: #fff; 
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}

.divider {
    border-right: 1px dashed;
}

.serialEditor
{
  padding: 5px;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  resize: none;
}

.runButton{
  content: url('../images/buttons/runcode.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.runButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.repeatButton{
  content: url('../images/buttons/repeatcode.png');
  width: 12vh;
  height: 12vh;
  visibility: visible;
  border-style: none;
  border-width: 0px;
  z-index: 101;
  cursor: pointer;
  padding: 0.1vh;
}

.runButton:hover{
  cursor: pointer;
  opacity: 0.75;
}

.tab
{
  padding: 10px;
}

.tablinks
{
  
}

.menuButton:hover
{
  opacity: 0.8;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ff3333;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #ff3333;
}

.tab button.active:hover {
  color: #ff3333;
}

.ace_editor {
  border: 1px solid lightgray;
  margin: auto;
  width: 100%;
}


/* Blockly*/

#importExport {
  font-family: monospace;
}

.ioLabel>.blocklyFlyoutLabelText {
  font-style: italic;
}

.blocklyFlyoutLabelText {
  fill: white !important;
}
.blocklyFlyoutHeading>.blocklyFlyoutLabelText {
  font-size: 1.5rem;
}
line.blocklyFlyoutLine {
  stroke: white;
}
.blocklyFlyoutLabelIcon {
  font-family: 'Font Awesome\ 5 Free';
  font-size: 1.5rem;
  font-weight: 900;
  fill: white;
}

.blocklyTreeRow {
  height: 45px !important;
}

.basicBlocks
{
  background: url('../images/buttons/Basic1.png');
  background-repeat: no-repeat; 
  background-size: cover;
  margin: 0 .3em;
  padding: 0.2em;
  width: 30px !important;
  height: 100% !important;
  line-height: 45px;
  min-height: 45px;
  vertical-align: middle;
}

.blocklyTreeIconCustom {
  background: none !important;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0 .3em;
  padding: 0.2em;
  width: 30px !important;
  height: 100% !important;
  line-height: 45px;
  min-height: 45px;
  vertical-align: middle;
}
.blocklyTreeIconCustom::before {
  content: "\f12e";
}
.blocklyTreeIconCustom.logic::before {
  content: "\f074";
}
.blocklyTreeIconCustom.loops::before {
  content: "\f01e";
}
.blocklyTreeIconCustom.math::before {
  content: "\f1ec";
}
.blocklyTreeIconCustom.text::before {
  content: "\f031";
}
.blocklyTreeIconCustom.lists::before {
  content: "\f0ca";
}
.blocklyTreeIconCustom.colour::before {
  content: "\f53f";
}
.blocklyTreeIconCustom.variables::before {
  content: "\f0c9";
}
.blocklyTreeIconCustom.functions::before {
  content: "\f141";
}